@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.home, .services, .contact-us {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home-items {
  text-align: center;
  justify-content: center;
}


.contact-us-items {
  text-align: center;
  font-size: 24px;
}


.services-items {
  text-align: center;
  font-size: 24px;
}

.painting-service-card {
  justify-content: center;
}

.App {
  text-align: center;
}




